{% extends 'blog/base.html' %}

{% block content %}
<div>
    <p>published: 2.11.2018, 12:14</p>
    <h2><a href="">Robotyka</a></h2>
   <p><b><a href= "https://pl.wikipedia.org/wiki/Robotyka">Robotyka</a></b> – interdyscyplinarna dziedzina wiedzy działająca na styku <a href="https://pl.wikipedia.org/wiki/Mechanika"> mechaniki</a>,<a href="https://pl.wikipedia.org/wiki/Automatyka"> automatyki</a>,<a href="https://pl.wikipedia.org/wiki/Elektronika"> elektroniki</a>, <a href="https://pl.wikipedia.org/wiki/Triangulacja_(sensoryka)">sensoryki</a>, <a href="https://pl.wikipedia.org/wiki/Cybernetyka">cybernetyki</a> oraz <a href="https://pl.wikipedia.org/wiki/Informatyka">informatyki</a>. Domeną robotyki są również rozważania nad sztuczną inteligencją – w niektórych środowiskach robotyka jest wręcz z nią utożsamiana.</p>
      <p>Po raz pierwszy terminu robot użył czeski pisarz Karel Čapek w 1920 roku w swojej sztuce Rossum's Universal Robots. Terminem tym określił sztuczną istotę zbudowaną na podobieństwo człowieka, stworzoną, by zastąpić człowieka w pracy. Nazwa wywodzi się od czeskiego robota czyli praca pańszczyźniana. W języku angielskim pojęcie to pojawiło się po raz pierwszy w krótkim opowiadaniu Isaaca Asimova Kłamca (Liar) w 1941 roku. Początek rozwoju robotyki jako dziedziny wiedzy przypada na rok 1961. Wtedy to w General Motors uruchomiono pierwszy manipulator pracujący na linii produkcyjnej.</p>

<div>
    <p>published:  2.11.2018, 12:14</p>
    <h2><a href="">Kognitywistyka</a></h2>
    <p><b>Kognitywistyka</b>, dziedzina nauki zajmijąca się obserwacją i analizą działania zmysłów, mózgu i umysłu, w szczególności ich modelowaniem.</p>
    <p><b><i>Fajnie brzmi, tylko co to jest?</i></b></p>
  <p>Z angielskiego, kognitywistyka to <i>cognitive science</i>, czyli nauki poznawcze. Główne jej problemy związane są z procesami myślenia, świadomością, językiem, percepcją, sztuczną inteligencją, procesami uczenia się czy podejmwaniem decyzji. </p>
{% endblock %}
